.contato-geral {

    background-color: #EAF2FD;
}

.conteiner-inputs {
    display: flex;
    flex-direction: column;
}

.contato {

    display: flex;
    width: 85%;
    margin: 2em auto 0 auto;
    padding: 3em 0 3em 0;
    align-items: center;
   
}

@media (max-width: 768px) {

    .contato__img {

        display: none;
    }
}